{% extends "layout.html" %}
{% block content %}
<section id="main" class="wrapper">
    <div style="text-align: center">
        <h3>Main</h3>
		<h3><a class="button" href="{{search}}">Search</a></h3>
		<h3><a class="button" href="{{query}}">Query</a></h3>
		<h3><a class="button" href="{{update}}">Update</a></h3>
		<h3><a class="button" href="{{spec}}">Specific</a></h3>
		<h3><a class="button" href="{{stats}}">Stats</a></h3>
		<h3><a class="button" href="{{test}}">Test</a></h3>
		
        
    </div>
</section>

{% endblock content %}